<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792861237507-lv2siv62so0paqu3k01gudti6vovdne3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792861237507-lv2siv62so0paqu3k01gudti6vovdne3</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYgYaElt-4BFwqR1FZ6H3mzY72b41NoA</string>
	<key>GCM_SENDER_ID</key>
	<string>792861237507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hgt</string>
	<key>PROJECT_ID</key>
	<string>hgtt-e0a99</string>
	<key>STORAGE_BUCKET</key>
	<string>hgtt-e0a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792861237507:ios:b7d36ad17c5d0f04bc8936</string>
</dict>
</plist>